<div class="wrapper">
    <ul>
        <li *ngFor="let d of data">
            <div class="title">
                <a class="heading">{{d.name}}</a>
            </div>
            <ul>
                <li class="row" *ngFor="let r of d.rows">
                   <div class="secondary">
                        <div class="a">
                            <li>
                                <a>{{r.a}}</a>
                            </li>
                        </div>
                        <div class="b">
                            <li>
                                <a>{{r.b}}</a>
                            </li>
                        </div>
                   </div>
                </li>
            </ul>
        </li>
    </ul>
</div>