<div class="position-wrapper">
    <img src="assets/contact/0.jpg">
    <div class="title-text">
        <h1>contact us</h1>
    </div>
</div>
<div class="wrapper">
    <div class="block">
        <h4>Americas</h4>
        <div class="card-row">
            <div class="card">
                <h2>U.S.A</h2>
                <h3>AZZA (USA) Technology Inc.</h3>
                <h3>4115 Schaefer Ave. Chino CA, 91710, U.S.A.</h3>
                <h3>Tel: 909-517-1746</h3>
                <h3>E-mail: service@azzatek.com</h3>
            </div>
            <div class="card">
                <h2>PAN AMERICAS</h2>
                <h3>Linkworld Electronic LLC.</h3>
                <h3>4115 Schaefer Ave. Chino CA, 91710, U.S.A.</h3>
                <h3>Tel: 1-714-993-2888</h3>
                <h3>E-mail: guan@linkworld8.com</h3>
            </div>
            <div class="card">
                <h2>CANADA</h2>
                <h3>Link Computer Canada Ltd.</h3>
                <h3>2600 John Street, Unit 122, Markham Ontario L3R 3W3 Canada</h3>
                <h3>Toll Free: 1-877-477-3610</h3>
                <h3>Fax: 905-477-4223</h3>
                <h3>E-mail: techsupport@linkcanada.ca, sales@linkcanada.ca</h3>
            </div>
        </div>
    </div>
    <div class="block">
        <h4>Asia</h4>
        <div class="card-row">
            <div class="card">
                <h2>TAIWAN</h2>
                <h3>Linkworld Electronic Co., Ltd.</h3>
                <h3>9FL., No.13, Lane 35, Jihu Rd., Neihu Dist., Taipei, Taiwan</h3>
                <h3>Tel: 886-2-87515789</h3>
                <h3>Fax: 886-2-87515788 886-2-87515768</h3>
                <h3>E-mail: support@linkworld.com.tw</h3>
            </div>
            <div class="card">
                <h2>SINGAPORE</h2>
                <h3>Linkworld Technology (S) Pte Ltd.</h3>
                <h3>Blk 135, #08-491 Bukit Batok West Ave 6 Singapore 650135</h3>
                <h3>Tel: 65-65672066</h3>
                <h3>Fax: 65- 67224141</h3>
                <h3>E-mail: support@linkworld.com.sg</h3>
            </div>
            <div class="card">
                <h2>THAILAND</h2>
                <h3>Linkworld Electronic (Thailand) Co., Ltd.</h3>
                <h3>700/60 Moo 1 Amata Nakorn Industrial Bangna-Trad KM 57 Tambol Bankao Amphur Phanthong Chonburi 20160 Thailand</h3>
                <h3>Tel: 66-38-214078</h3>
                <h3>Fax: 66-38-213373</h3>
                <h3>E-mail: support@linkworld.co.th</h3>
            </div>
        </div>
    </div>
    <div class="block">
        <h4>Europe</h4>
        <div class="card-row">
            <div class="card">
                <h2>GERMANY</h2>
                <h3>Linkworld Computer GmbH</h3>
                <h3>Otto-Schott-Str. 4, 41542 Dormagen, Germany</h3>
                <h3>Tel: +49-2133-97906-0</h3>
                <h3>Fax: +49-2133-97906-89</h3>
                <h3>E-mail: info@linkworldcomputer.de</h3>
                <h3>service@linkworldcomputer.de</h3>
                <h3>Facebook: LinkworldComputer</h3>
            </div>
        </div>
    </div>
</div>